In [ ]:
import pandas as pd
winter=['fog','socks','sweaters','heaters']  #string datatype is object datatype in python
s=pd.Series(winter)
s

0         fog
1       socks
2    sweaters
3     heaters
dtype: object

In [ ]:
#attributes access valus from a series. No paranthesis, no manipulation can be done
s.values
s.index
s.dtype # O is object datatype for strings in python

dtype('O')

In [ ]:
#methods
no=[1,2,3,4,5]
s=pd.Series(no)
s.sum()
s.mean()
s.product()

120

In [ ]:
#parameters
fruits=['mango','apple','guava']
weekdays=['mon','tue','wed']
pd.Series(fruits,weekdays) # (data,index)
pd.Series(data=fruits,index=weekdays)

mon    mango
tue    apple
wed    guava
dtype: object

In [ ]:
#Reading csv file
s=pd.read_csv("/content/sample_data/california_housing_test.csv",squeeze=True, error_bad_lines=False,usecols=['longitude']) #squeze converts dataset into series object, usecols gets the specified column
print(s.head()) #prints first 5 rows
print(s.head(10)) #can be specified
print(s.tail()) #last five rows
print(s.tail(10))
#s.is_unique  #attribute checks if there are unique values or not. gives boolean output. if all unique =True
print(s.ndim) #attribute gives dimension
print(s.shape)
print(s.size)
s.name="s_new" #changes the column name temporarily
print(s.sort_values()) #to sort
print(s.sort_values(ascending=False))#Series in descending order
print(s.sort_index(ascending=False,inplace=True)) #sort_index xused to sort by index values, inplace permanent change le aata hai
print(s.head(10))

0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64
0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
5   -119.56
6   -121.43
7   -120.65
8   -122.84
9   -118.02
Name: longitude, dtype: float64
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, dtype: float64
2990   -118.23
2991   -117.17
2992   -122.33
2993   -117.91
2994   -117.93
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, dtype: float64
1
(3000,)
3000
1876   -124.18
1422   -124.17
2577   -124.16
111    -124.16
910    -124.16
         ...
244    -114.98
2640   -114.62
1145   -114.61
1595   -114.55
2055   -114.49
Name: s_new, Length: 3000, dtype: float64
2055   -114.49
1595   -114.55
1145   -114.61
2640   -114.62
244    -114.98
         ...
910    -124.16
111    -124.16
2577   -124.16
1422   -124.17
1876   -124.18
Name: s_new, Length: 3000, dtype: float64
None
2999   -119.63
2998   -117.12
2997   -119.70
2996   -118.14
2995   -119.86
2994   -117.93
2993   -117.91
2992   -122.33
2991   -117.17
2990   -118.23
Name: s_new, dtype: float64

In [ ]:
#extracting via index position
print(s[10])
print(s[10:20]) # when index position is used it fetches upto n-1th position
print(s[-30:])
#extracting via index label
#in this nth position ,ie, last tak values aati hai.
#extracting values using get method
print(s.get(10))
print(s.get(3001))  #none
print(s.get(key=3001,default="not there")) #changing none to your defined "not there" any name


print(s.idxmax()) #just like argmax
print(s.max())
print(s[2055])
print(s.value_counts())  #counts ki kis value ke kitni bar repeat ho raha hai
print(s.value_counts().sum())  #same as count()
print(s.value_counts(ascending=True))

-118.24
2989   -122.02
2988   -122.01
2987   -121.97
2986   -118.25
2985   -120.47
2984   -117.59
2983   -122.54
2982   -118.28
2981   -120.66
2980   -119.76
Name: s_new, dtype: float64
29   -118.48
28   -118.45
27   -118.39
26   -122.42
25   -118.03
24   -117.28
23   -122.20
22   -118.16
21   -121.37
20   -122.15
19   -122.59
18   -118.88
17   -121.20
16   -120.81
15   -117.99
14   -117.97
13   -117.03
12   -121.93
11   -119.12
10   -118.24
9    -118.02
8    -122.84
7    -120.65
6    -121.43
5    -119.56
4    -119.67
3    -118.36
2    -117.81
1    -118.30
0    -122.05
Name: s_new, dtype: float64
-118.24
None
not there
2055
-114.49
-114.49
-118.26    26
-118.21    26
-118.29    25
-118.27    25
-118.28    25
           ..
-119.99     1
-114.61     1
-123.08     1
-122.87     1
-118.62     1
Name: s_new, Length: 607, dtype: int64
3000
-118.62     1
-122.87     1
-123.08     1
-114.61     1
-119.99     1
           ..
-118.28    25
-118.27    25
-118.29    25
-118.21    26
-118.26    26
Name: s_new, Length: 607, dtype: int64